<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbg.mbgsupport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo.kotlin.viewbinding.DemoViewBindingActivity"/>
        <activity android:name=".demo.kotlin.inlinefun.SnackbarDemoActivity" />
        <activity android:name=".kotlin.KotlinMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbg.module.ui.activity.TerminalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mbg.module.ui.kotlin.activity.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".demo.UPVDemoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".demo.PagerActivity" android:screenOrientation="portrait"/>


        <activity android:name=".dialogfliptest.FlipMainActivity"/>
        <activity android:name=".dialogfliptest.LoginActivity"/>
        <activity android:name=".dialogfliptest.DActivity"/>
        <activity android:name=".viewdraghelper.LessonOneActivity"/>
        <activity android:name=".viewdraghelper.LessonTwoActivity"/>
        <activity android:name=".viewdraghelper.LessonThreeActivity"/>
        <activity android:name=".viewdraghelper.LessonFourActivity"/>
        <activity android:name=".viewdraghelper.LessonFiveActivity"/>

    </application>

</manifest>